@import './Imports/Imports';
//el tamaño de los iconos funciona con em no con px
//sUsaremos em para el diseño responsivo
.b, .texto > h1, .select{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.b{
    background-color: $azul;
    height: 4em;
    color: $blanco;
    font-size: 1.2em;
}
.texto > h1{
    color: $verde;
}
.select{
    padding-bottom: 2em;
}
.icono{
    display: inline-block;
    color: green;
    font-size: 5em;
}